[user]
	name = Natthakit Susanthitanon
	email = natthakit.susanthitanon@gmail.com
[core]
	pager = delta
[delta]
	navigate = true
	side-by-side = true
	syntax-theme = printemps
  line-numbers-minus-style = "#d86e67"
  line-numbers-plus-style = "#a2b477"
  line-numbers-zero-style = "#7a6c60"
  minus-style = syntax "#2b1a14"
  minus-emph-style = syntax "#482822"
  plus-style = syntax "#272317"
  plus-emph-style = syntax "#3d3d28"
[diff]
	colorMoved = default
[interactive]
	diffFilter = delta --color-only
[merge]
	conflictStyle = zdiff3
[init]
	defaultBranch = main
[pull]
	ff = only
[alias]
	lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(magenta)%an%C(reset)%C(bold yellow)%d%C(reset)' --all
[include]
  path = ~/.gitconfig.local
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
